<div class="jumbotron">
    <h2>HipTime! Free and Easy.</h2>
    <br>
    <h4>Trusted by Millions. Hiptime is the vest online Task Management App!</h4>
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>