<div class="col-md-10 col-md-offset-1">
    <h2><%= @item.title %></h2>
    <p><%= @item.description %></p>

    <div class="col-md-4 col-md-offset-4">
        <%= link_to "Back", root_path %>
        <%= link_to "Edit", edit_item_path%>
        <%= link_to "Delete", item_path(@item), method: :delete, data:{ confirm: "Are you sure?"} %>
    </div>

</div>